---
layout: 'listing'
title: 'Logic I: PH126'
---

include ../../fragments/slide_mixins


h1.title1 Logic I (PH126): List of Units
h3.email s.butterfill@warwick.ac.uk

- var unit_num
each unit in getCollection("units").toJSON()
  - unit_num = unit.basename.substr(5)
  h3 #{unit_num}:
    a(href="/units_grid/#{unit.outFilename}") #{unit.title}
  if unit.images && unit.basename != unit.images
    p(style="background-color: red") !!!error unit.basename != unit.images !!!
  if unit.depends && unit.depends.length && unit.depends.length > 0
    p depends on units: #{unit.depends.join(', ')}
  if unit.tags && unit.tags.length && unit.tags.length > 0
    p(style="text-align:right;margin:0;padding:0;margin-top:-1.5em;") 
      each t in unit.tags
        span.label.label-info #{t}
        | 
  p #{unit.description}
  if unit.book && unit.book.length > 0 
    p Reading:  ยง#{unit.book.join(', ยง')}
  if unit.exercises && unit.exercises.length > 0 
    p Exercises: #{unit.exercises.join(', ')}
  if unit.exercises_fast && unit.exercises_fast.length > 0
    p Fast exercises: #{unit.exercises_fast.join(', ')}
